.home {
  height: calc(100vh - 5rem);
  .header {
    height: 70vh;
    border-radius: 0;
    @include tablet {
      border-radius: 0% 0% 0% 0%;
    }
  }
}

.home-description {
  margin: 10rem auto;
}

.middle-bg {
  height: 50vh;
}

.clientes {
  height: 100rem;
}
