.header {
  background: url(./img/cami-girasol.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.middle-bg {
  background: url(./img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
